

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>vous avez une erreur :</div>
    <div>@ViewData["message"]</div>

    <div><a href = "home/homechef"> Back vers la page principale </a></div>
</body>
</html>