
<h2><img id ="imgTitre" src="/images/sousmenu inscription.png"  /></h2>
	

<body>
  <section id="contact">
	 
	  <div class="container">
				
				<form action="/home/CreerAdhesion" method = "post">
											
				
				        		<legend>Dites-nous qui vous êtes !</legend>
				
							
					<input type="text"  name="UserName"  placeholder="Choisissez votre nom d'utilisateur'" required=" "/>
					<input type="password"  name="Password" placeholder="Entrez votre mot de passe..." required=""/>
					<input type="text"  name="Nom"  placeholder="Entrez votre nom..." required=" "/>
					<input type="text" name="Prenom" placeholder="Entrez votre prenom..." required=" "/>
					
					<input type="datetime" name="DateDeNaissance" placeholder="Entrez votre date de naissance..." required=""/>
					<input type="email" name="email" placeholder="Entrez votre adresse mail..." required=" "/>
					<input type="tel" name="tel" placeholder="Entrez votre numero de téléphone..." required=" "/>
			                         <button type="submit" value="Valider"/> Soumettre</button>
			
									<br/>
			
					
				</form>
				</div>
      </section>
</body>