<body>
	<section id="contact">

		<div class="container">
			<form>
				<legend>A propos</legend>
				<tr>L'objectif de ce projet est de mettre en évidence les compétence en développement</tr><br/>
				<tr>Ce projet a été réalisé en équipe de 3 stagiaires en 2 semaines, suite à 3 mois de formation</tr><br/>
				<tr>L'application est une plateforme d'échange de services entre utilisateurs</tr><br/>
				<tr>L'environnement .NET, le langage est du C#, les données sont stockées dans une base SQL</tr><br />
			</form>
			
			<br /><br />
			<form>
				<legend>15/03/2023</legend>
				<tr>Déploiement de l'application</tr><br/>
				<tr>(le projet n'avais pas vocation pour le stagiaire de définir les technologie de déploiement)</tr><br/>
				<tr>Différentes fonctions ont été désactivées, afin d'éviter de mettre en base des propos non professionnels</tr><br/>
				<tr>Pour permettre l'accès aux fonctionnalités d'un utilisateur, utilisez ces identifiants :</tr><br/>
				<tr>UserName: KathiesCake</tr><br/>
				<tr>password: azerty</tr><br />
			</form>
				
		</div>
	</section>
</body>