 @model Projet2Homechef.Models.Villageois


@{
    ViewBag.Title =  "Villageois";
   
}
<head>
 <link href="~/css/styleHomechef.css" rel="stylesheet" />
 </head>
<h2><img id ="imgTitre" src="/images/sousmenu mesinfos.png"  /></h2>

<body>
    <section id="contact">
	 
	  <div class="container">
				
				<form action="/Admin/ModifierVillageois" method = "post">
					<input type="hidden" name="Id" value=@Model.Id />					
					<input type="text"  name="UserName"  value=@Model.UserName />
				    <input type="password"  name="Password"  value=@Model.Password />    									
					<input type="text"  name="Nom" value=@Model.Nom />
					<input type="text"  name="Prenom" value=@Model.Prenom />
					<input type="datetime"  name="DateDeNaissance" value=@Model.DateDeNaissance />
					<input type="text"  name="Role" value=@Model.Role />
					<input type="email"  name="Email" value=@Model.Email />
					<input type="tel"  name="Tel" value=@Model.Tel />
					
			         <button type="submit" value="Valider"/> Modifier</button>
					
									<br/>
			
					
				</form>
				
		</div>
      </section>


</body>
