
@using Projet2Homechef.Models
@model List<Projet2Homechef.Models.Prestation.Service>

@{
    ViewBag.Title = "CatalogueHomechef";
    
}

<h2><img id ="imgTitre" src="/images/sousmenu catalog.png"  /></h2>
		
		<div class="row justify-content-start">

			@foreach(var service in Model)
			{
				
				<!-- -->
				
				<!--div class="card col-6 m-5" style="width: 18rem;"-->
				<div class="card col-6 m-5" style="width: 36rem;">
					<div class="card-body d-flex flex-column justify-content-between">  
                        <div>
                            <h5 class="card-title">@service.Titre</h5>
                            <div class="my-3">
                               
                            </div>
							<div class="row">
							<div class="col-lg-4 ms-auto">
								<img id="imgCard" src="@service.ImagePath" width="200" height="200" />
                            </div>
							<div class="col-lg-4 ms-auto">
								<p class="card-text">@service.Description</p>								
								<p class="card-text">Proposé par :</p>
								<p class="card-text">@service.Chef.UserName</p>
								<div id="right">
								<!--<button1 class="btn btn-success btn-xl" type="submit" href="#connexion">Connexion</button1>-->
							</div>
							</div>
							</div>
                        </div>
						
						<div>
   
							<td>  </td>
                            

                        </div>
                        
						

					</div>
				</div>
			}
			

		</div>

		@*<div class="row">
			<div class="col-lg-4 ms-auto"><p class="lead">Cette application a été conçue afin que vous votiez pour vos sejours favoris</p></div>
			<div class="col-lg-4 me-auto"><p class="lead">A la fin de chaque sondage, un sejour sera choisi.</p></div>
		</div>*@